body {
	text-align: center;
	margin: 0;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

h1 {
	font-family: raleway;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
}

h2 {
	font-family: raleway;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
}

a {
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

a:link, a:visited {
	text-decoration: none;
	color: inherit;
	margin: 0 20px;
}

main {
	width: 850px;
	margin: 35px auto;
}

h3 {
	font-family: raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p {
	font-family: "droid serif";
	line-height: 26px;
	font-size: 18px;
}

input[type="button"] {
	background-color: #0D2C40;
	color: white;
	width: 40px;
	cursor: pointer;
	box-shadow: 0 5px #999;
	border-radius: 10px;
	outline: none;
	margin: 0px 5px;

}

input[type="button"]:hover {
	background-color: grey;
}

input[type="button"]:active {
	background-color: grey;
	box-shadow: 0 1px #666;
	transform: translateY(4px);
}

#resetButton {
	width: 80px;
}

img {
	margin: 40px 8px 0 8px;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright, .message {
	font-family: raleway;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}